# Goal
   ● boolean
   
   ● integer
   
   ● float
   
   ● string

# 變數、名稱與物件

物件就像一個箱子，每個物件會有一種類型(int,float...)

# integer

/ 算出float

// 算出integer i.e. 只取商數

% 取餘數

divmod:同時取商數餘數

In [1]:
a = 13
print(a / 4)
print(a // 4)
print(a % 4)
print(divmod(13,4))

3.25
3
1
(3, 1)

# Cardinal number

二進位轉十進位

In [5]:
0b10

2

八進位轉十進位

In [7]:
0o10

8

十六進位轉十進位

In [8]:
0x10

16

# int

In [17]:
# boolean to int
print(int(True)) 
print(int(False))

1
0

In [20]:
# float to int
int(93.6)    ## 小數點後的數字直接省略

93

In [21]:
# string to int
print(int('99')) 
print(int('-99'))
print(int('+99'))

99
-99
99

### < Note >
int() will convert "float" or "string"  to  int , but can not handle 含有小數點之string

In [22]:
int('98.6')

ValueError: invalid literal for int() with base 10: '98.6'

In [23]:
int('1.0e5')

ValueError: invalid literal for int() with base 10: '1.0e5'

## int 有多大?

### 在 python3 中，long 已不存在，且int 可以是任何大小，甚至可超越64 bit

In [24]:
googol = 10**100
googol

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [26]:
googol*googol

100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

# float

### 和int幾乎一樣，使用float()轉換僅是多一個小數點而已

In [28]:
float(True)

1.0

# string

python 3 支援 Unicode，所以可支援世界上任何文字

## 來製作字串吧！
只需要用單引號或是雙引號框起來就好了

In [29]:
'Snap'

'Snap'

In [30]:
"Abc"

'Abc'

### 三引號的用途 : 可以建立多行字串，且會保留你輸入個格式(空白)

In [31]:
'''Boom'''

'Boom'

In [41]:
x = '''I am learing python,
python is useful'''

In [42]:
print(x)

I am learing python,
python is useful

### print和沒有print的不同

In [44]:
x

'I am learing python,\npython is useful'

### 空字串
當想要使用其他字串來建立一字串時，我們會使用到他

In [50]:
bottles = 99
base = ''
base += 'current inventory: '
base += str(bottles)
base

'current inventory: 99'

## 用str()來轉換資料

In [3]:
# float to string
print(type(98.6))
str(98.6)

<class 'float'>

'98.6'

### < Note >
當我們使用print()來印出非string 的物件和進行string interpolation(內插)時，python會偷偷幫我們使用str() func.

## \ 的應用

### 利用 \n 換行

In [4]:
palindrome = 'A man, \nA plan, \nA canal : \nPanama.'

In [5]:
print(palindrome)

A man,
A plan,
A canal :
Panama.

### 利用 \t 來對齊文字

In [6]:
print('\tabc')
print('a\tbc')
print('ab\tc')
print('abc\t')

	abc
a	bc
ab	c
abc

### 如果想要在 ' 或 " 框起來的字串中表示引號，可以利用 \ '或 \"

In [7]:
test = "\"I did nothing!\"he said."

In [8]:
print(test)

"I did nothing!"he said.

### 如果想要印出反斜線，只要用 \ \ 就可以了

In [10]:
test = 'Today we honor our friend, the blackslash: \\.'

In [11]:
print(test)

Today we honor our friend, the blackslash: \.

## 用 + 來結合string

可以用 + 結合 literal strings or string variables

In [13]:
'Release the kraken! ' + 'At once!'

'Release the kraken! At once!'

### 可以直接結合literal strings

In [14]:
"My word! " "A gentleman caller"

'My word! A gentleman caller'

In [15]:
a = 'Duck.'
b = a
c = 'Grey Duck!'
print(a, b, c)

Duck. Duck. Grey Duck!

## 用 * 來複製

In [22]:
start = 'Na' * 4 + '\n'
middle = 'Hey' * 3 + '\n'
end = 'Goodbye'
print(start + start + middle + end)

NaNaNaNa
NaNaNaNa
HeyHeyHey
Goodbye

## Extract a Character with []

可以利用[offset]來取得第offset個位置的character，leftmost offset = 0 , the next is 1, and rightmost offset is -1 , the left is -2.

In [28]:
letters = 'abcdefghijklmnopqrstuvwxyz'

In [29]:
letters[0]

'a'

In [30]:
letters[1]

'b'

In [31]:
letters[-1]

'z'

### < Note >
Because strings are immutable(不變的), you can’t insert a character directly into one or change the character at a specific index.

In [32]:
name = 'Henny'
name[0] = 'P'

TypeError: 'str' object does not support item assignment

### we can use replace() or slice to approach the above action.

In [33]:
name = 'Henny'
name.replace('H','P')

'Penny'

### what is the drawback? If we only want to change the first 'n' . What will happen if we use replace()

In [34]:
name = 'Henny'
name.replace('n','r')

'Herry'

### we can use slice to improve it.

In [35]:
name = 'Henny'
'P' + name[1:]

'Penny'

In [38]:
name = 'Henny'
name[0:3] + 'r' + name[4:]

'Henry'

## slice
[:] extracts the entire sequence from start to end.

In [39]:
letters = 'abcdefghijklmnopqrstuvwxyz'

In [40]:
letters[:]

'abcdefghijklmnopqrstuvwxyz'

### [ start :] 
specifies from the start offset to the end.

In [43]:
# 從 offest 20 到最後
letters[20:]

'uvwxyz'

### [: end ] 
specifies from the beginning to the end offset minus 1.

In [47]:
# from offset 0 to 4 , NOT 5 !!
letters[:5]

'abcde'

### [ start : end ] 
indicates from the start offset to the end offset minus 1.

In [46]:
# from offset 12 to 14 , NOT 15 !!
letters[12:15]

'mno'

### [ start : end : step ] 
extracts from the start offset to the end offset minus 1, skipping characters by step.

In [49]:
# from offset 4 to 19 and step by 3 . i.e. 4 ,7 ,10 ,13, 16 , 19
letters[4 : 20 : 3]

'ehknqt'

In [51]:
# from start to end and step by 7
letters[: :7]

'ahov'

### Given a negative step size, this handy Python slicer can also step backward.

In [52]:
letters [-1::-1]

'zyxwvutsrqponmlkjihgfedcba'

In [53]:
letters[::-1]

'zyxwvutsrqponmlkjihgfedcba'

### < Note >
why letters[::-1] is the same as letters [-1::-1] ?

because a slice offset earlier than the beginning of a string is treated as 0 , the next one will be -1 and so on.

In [57]:
# -26 即為 a
letters[-50:]

'abcdefghijklmnopqrstuvwxyz'

In [55]:
letters[-50:-51]

''

In [56]:
letters[:70]

'abcdefghijklmnopqrstuvwxyz'

## 用len()來取得長度

In [60]:
len(letters)

26

In [61]:
empty = ""
len(empty)

0

## 用 split() 來分割

split( ) is a string function. To use a string function, type the name of the string, a dot, the name of the function, and any arguments that the function needs: string . function ( arguments ).

In [62]:
todos = 'get gloves,get mask,give cat vitamins,call ambulance'

In [63]:
todos.split(',')

['get gloves', 'get mask', 'give cat vitamins', 'call ambulance']

### < Note >
If you don’t specify a separator(i.e. arguments), split() uses any sequence of "white space characters"—newlines, spaces, and tabs.

In [64]:
todos.split()

['get', 'gloves,get', 'mask,give', 'cat', 'vitamins,call', 'ambulance']

## 用join() 來集合
string .join( list )  i.e. 串接的符號.join(list)

In [65]:
crypto_list = ['Yeti', 'Bigfoot', 'Loch Ness Monster']

In [70]:
#我們要用 , and white space 來串接
crypto_string = ', '.join(crypto_list)
crypto_string

'Yeti, Bigfoot, Loch Ness Monster'

In [68]:
print('Found and signing book deals:', crypto_string)

Found and signing book deals: Yeti, Bigfoot, Loch Ness Monster

## 把玩字串

In [1]:
poem = '''All that doth flow we cannot liquid name
Or else would fire and water be the same;
But that is liquid which is moist and wet
Fire that property can never get.
Then 'tis not cold that doth the fire put out
But 'tis the wet that makes it die, no doubt.'''

### get the first 13 characters

In [2]:
poem[:13]

'All that doth'

### How many characters are in this poem? (Spaces and newlines are included in the count.)

In [3]:
len(poem)

250

### Does it start with the letters All?

In [6]:
poem.startswith("All")

True

### Does it end with That's all, folks!?

In [7]:
poem.endswith("That\'s all, folks!")

False

### let’s find the offset of the first occurrence of the word "the" in the poem

In [8]:
poem.find('the')

73

### And the offset of the last "the"

In [9]:
poem.rfind('the')

214

### How many times does the three-letter sequence "the" occur?

In [10]:
poem.count('the')

3

### Are all of the characters in the poem either letters or numbers?

In [16]:
poem.isalnum()

False

In [18]:
poem.isalpha()

False

### < Note > : 
有標點符號，所以False

## Case(大小寫) and Alignment

In [20]:
setup = 'a duck goes into a bar...'

## Remove . sequences from both ends:   ※常用!

In [22]:
setup.strip('.')

'a duck goes into a bar'

In [24]:
# why?
setup

'a duck goes into a bar...'

### < Note >
Because strings are immutable, none of these examples actually changes the setup string. Each example just takes the value of setup, does something to it, and returns the result as a new string.

i.e. it changes the copy of the string, not the string itself.

so, if we want to change the setup string, then do the following action.

In [25]:
setup = setup.strip('.')
setup

'a duck goes into a bar'

In [26]:
setup = 'a duck goes into a bar...'

## Capitalize the first word:

In [27]:
setup.capitalize()

'A duck goes into a bar...'

## Capitalize all the words:

In [30]:
setup.upper()

'A DUCK GOES INTO A BAR...'

## Convert all characters to uppercase:

In [29]:
setup.lower()

'a duck goes into a bar...'

## Swap upper- and lowercase: 大小寫互換

In [32]:
setup.swapcase()

'A DUCK GOES INTO A BAR...'

## 將所有單字的第一個字改成大寫

In [33]:
setup.title()

'A Duck Goes Into A Bar...'

## 在指定的總空格數中對齊

In [34]:
# center
setup.center(30)

'  a duck goes into a bar...   '

In [35]:
#right justify
setup.rjust(30)

'     a duck goes into a bar...'

In [36]:
#left justify
setup.ljust(30)

'a duck goes into a bar...     '

## Substitute with replace()
1. You use replace() for simple substring substitution.
2. You give it the old substring, the new one, and how many instances of the old substring to replace. 
3. If you omit this final count, it replaces only the first instance

  replace(old string, new string , instances)

In [37]:
setup.replace('duck', 'marmoset')

'a marmoset goes into a bar...'

In [38]:
setup.replace('a ', 'a famous ', 100)

'a famous duck goes into a famous bar...'

### 注意，若是改用一個字串 'a' ，而不是使用 'a ' (有white space)，則會取代所有含有a的element.

In [39]:
setup.replace('a','a famous', 100)

'a famous duck goes into a famous ba famousr...'

### < Note >
Sometimes, you want to ensure that the substring is a whole word, or the beginning of a word, and so on.

In those cases, you need regular expressions, which are described in detail in Chapter 7.

# 習題

### 2.1 How many seconds are in an hour? Use the interactive interpreter as a calculator and multiply the number of seconds in a minute (60) by the number of minutes in an hour (also 60).

In [40]:
60*60

3600

### 2.2 Assign the result from the previous task (seconds in an hour) to a variable called seconds_per_hour.

In [41]:
seconds_per_hour = 3600

### 2.3 How many seconds are in a day? Use your seconds_per_hour variable.

In [42]:
seconds_per_hour * 24

86400

### 2.4 Calculate seconds per day again, but this time save the result in a variable called seconds_per_day.

In [43]:
seconds_per_day = seconds_per_hour * 24

### 2.5 Divide seconds_per_day by seconds_per_hour. Use floating-point (/) division.

In [44]:
seconds_per_day / seconds_per_hour

24.0

### Divide seconds_per_day by seconds_per_hour, using integer (//) division. Did this number agree with the floating-point value from the previous question, aside from the final .0?

In [45]:
seconds_per_day // seconds_per_hour

24