## < Note> 
tuple is invariable, but list is variable.

# List

## create a list by [ ] or list()

In [1]:
empty_list = []

In [2]:
weekdays = ['Monday', 'Tuesday', 'Wednesday','Thursday', 'Friday']

In [3]:
another_empty_list = list()
another_empty_list

[]

### < Note > 
List 中的value不一定要相異，但set之中為獨一無二

## 用list()可將其他類型的資料轉換成List

In [4]:
# string to list
list('cat')

['c', 'a', 't']

In [6]:
# tuple to list
a_tuple = ('ready' , 'fire','aim')
list(a_tuple)

['ready', 'fire', 'aim']

## we can use split() to divide a string into a list.

In [11]:
birthday = '1995 / 09 / 15'
birthday.split(' / ')

['1995', '09', '15']

## Q: What if you have more than one separator string in a row in your original string?
## Ans: you get an empty string as a list item

In [12]:
splitme = 'a/b//c/d///e'

In [13]:
splitme.split('/')

['a', 'b', '', 'c', 'd', '', '', 'e']

In [14]:
splitme.split('//')

['a/b', 'c/d', '/e']

## Get an Item by Using [ offset ]

In [16]:
marxes = ['Groucho' , 'Chico' , 'Harpo']

In [17]:
marxes[0]

'Groucho'

In [18]:
marxes[1]

'Chico'

In [19]:
marxes[-1]

'Harpo'

## Lists of Lists

In [20]:
small_birds = ['hummingbird', 'finch']
extinct_birds = ['dodo', 'passenger pigeon','Norwegian Blue']
carol_birds = [3, 'French hens', 2, 'turtledoves']

In [22]:
# lists of lists
all_birds = [small_birds, extinct_birds , carol_birds]
all_birds

[['hummingbird', 'finch'],
 ['dodo', 'passenger pigeon', 'Norwegian Blue'],
 [3, 'French hens', 2, 'turtledoves']]

In [23]:
all_birds[0]

['hummingbird', 'finch']

In [24]:
all_birds[0][0]

'hummingbird'

### < Note > : 
all_birds[offset of all_birds][offset of list in all_birds]

## Change an Item by [ offset ]

In [25]:
marxes = ['Groucho' , 'Chico' , 'Harpo']

In [27]:
marxes[2] = 'Wanda'
marxes

['Groucho', 'Chico', 'Wanda']

### < Note > 
我們無法用這種方法來改變string

## Use a Slice to Extract Items by Offset Range

In [28]:
marxes[:2]

['Groucho', 'Chico']

In [29]:
marxes[::2]

['Groucho', 'Wanda']

### < Note > 
當我們用offset去更改List之中的item，即改變list本身而不是其copy

## reverse a List

In [30]:
marxes[::-1]

['Wanda', 'Chico', 'Groucho']

## Add an Item to the End with append()

In [31]:
marxes.append('Zeppo')

In [32]:
marxes

['Groucho', 'Chico', 'Wanda', 'Zeppo']

## Combine Lists by Using extend() or +=
You can merge one list into another by using extend().

In [33]:
others = ['Gummo', 'Karl']

In [34]:
marxes.extend(others)

In [35]:
marxes

['Groucho', 'Chico', 'Wanda', 'Zeppo', 'Gummo', 'Karl']

In [41]:
marxes = ['Groucho' , 'Chico' , 'Harpo']

In [42]:
# or use +=
marxes += others

In [43]:
marxes

['Groucho', 'Chico', 'Harpo', 'Gummo', 'Karl']

## if we use append()...

In [44]:
marxes = ['Groucho' , 'Chico' , 'Harpo']
marxes.append(others)
marxes

['Groucho', 'Chico', 'Harpo', ['Gummo', 'Karl']]

 we can conclude that list can contain different types of item

## Add an Item by Offset with insert()
insert(offset , item)

In [47]:
marxes = ['Groucho' , 'Chico' , 'Harpo','Zeppo']
marxes.insert(3, 'Gummo')
marxes

['Groucho', 'Chico', 'Harpo', 'Gummo', 'Zeppo']

 Don't worry about offset is too large to insert, because it will be inserted at last.

In [48]:
marxes.insert(10,'Karl')
marxes

['Groucho', 'Chico', 'Harpo', 'Gummo', 'Zeppo', 'Karl']

## Delete an Item by Offset with del

In [49]:
del marxes[-1]

In [50]:
marxes

['Groucho', 'Chico', 'Harpo', 'Gummo', 'Zeppo']

In [51]:
marxes = ['Groucho' , 'Chico' , 'Harpo','Zeppo']
marxes[2]

'Harpo'

In [52]:
del marxes[2]
marxes

['Groucho', 'Chico', 'Zeppo']

In [53]:
marxes[2]

'Zeppo'

### < Note>:
1. del is a Python statement, not a list method—you don’t say marxes[-2].del().
2. It’s sort of the reverse of assignment (=): it detaches(分離) a name from a Python object and can free up the object’s memory if that name was the last reference to it.

## Delete an Item by Value with remove()
如果不確定欲刪除的資料在list的哪裡可使用此法

In [1]:
marxes = ['Groucho', 'Chico', 'Harpo', 'Zeppo']

In [2]:
marxes.remove('Groucho')
marxes

['Chico', 'Harpo', 'Zeppo']

In [4]:
test = ['a','b','a']
test.remove('a')
test

['b', 'a']

### < Note > remove() 會刪除第一個符合的item

1. Get an Item by Offset and Delete It by Using pop()

2. pop(offset)  

3. If you do not give offset, then it returns pop(-1)

In [1]:
marxes = ['Groucho', 'Chico', 'Harpo', 'Zeppo']

In [2]:
marxes.pop()

'Zeppo'

In [3]:
marxes.pop(1)

'Chico'

In [4]:
marxes

['Groucho', 'Harpo']

### < Note >
我們可以利用append()和pop()來製作一個LIFO的List (即: stack)，另外可以用Q.pop(0)和append()來建立一個FIFO的Queue

In [6]:
Queue = ['1','2','2','2','2']

In [7]:
Queue.pop(0)

'1'

In [8]:
Queue.append('19')

In [9]:
Queue.pop(0)

'2'

In [10]:
Queue

['2', '2', '2', '19']

## Find an Item’s Offset by Value with index()

In [11]:
marxes = ['Groucho', 'Chico', 'Harpo', 'Zeppo']
marxes.index('Chico')

1

## Test for a Value with in

In [13]:
'Groucho' in marxes

True

In [14]:
'Gro' in marxes

False

In [15]:
words = ['a', 'deer', 'a' 'female', 'deer']

In [16]:
'deer' in words

True

### < Note >
### 不管出現幾次，只要出現一次就會回傳True

## Count Occurrences of a Value by Using count()

In [17]:
Queue = ['1','2','2','2','2','1','2']
Queue.count('1')

2

In [18]:
Queue.count('0')

0

## Convert to a String with join()

In [19]:
','.join(Queue)

'1,2,2,2,2,1,2'

In [24]:
''.join(Queue)

'1222212'

### < Note >
1. join() is a string method, not a list method. You can’t say marxes.join(', ').
2. The argument to join() is a string or any iterable sequence of strings (including a list), and its output is a string.
3. If join() were just a list method, you couldn’t use it with other "iterable objects" such as tuples or strings.
4. If you did want it to work with any "iterable type", you’d need special code for each type to handle the actual joining.
5. join() is the opposite of split() ,  as the following example.

In [27]:
# list to string
List = ['1','2','3','4']
separator = '*'
joined = separator.join(List)
joined

'1*2*3*4'

In [28]:
# string to list
separated = joined.split(separator)
separated

['1', '2', '3', '4']

In [29]:
separated == List

True

## Reorder Items with sort()
1. The list function sort() sorts the list "itself", in place.
2. The general function sorted() returns a sorted "copy" of the list.

In [32]:
list = ['a','c','b','z','k']
list.sort()
list

['a', 'b', 'c', 'k', 'z']

In [34]:
list = ['a','c','b','z','k']
sorted(list)

['a', 'b', 'c', 'k', 'z']

In [35]:
list

['a', 'c', 'b', 'z', 'k']

In [36]:
list = [1, 3, 6, 4, 5, 8, 2, 1]

In [38]:
list.sort()
list

[1, 1, 2, 3, 4, 5, 6, 8]

### 反向排序

In [39]:
list.sort(reverse = True)

In [40]:
list

[8, 6, 5, 4, 3, 2, 1, 1]

## Get Length by Using len()

In [41]:
len(list)

8

## Assign with = and Copy with copy()

In [42]:
a = [1,2,3]
a

[1, 2, 3]

In [43]:
b = a
b

[1, 2, 3]

In [44]:
a[0] = 'surprise'
a

['surprise', 2, 3]

### How about b ?

In [45]:
b

['surprise', 2, 3]

### What if we change item in b ?

In [47]:
b[0] ='hey!'
b

['hey!', 2, 3]

In [48]:
a

['hey!', 2, 3]

### < Note > 怎麼會有上面的情形呢?
because b just refers to the same list object as a

i.e. 不論是 a 或是 b 都只是參考 [1,2,3] 這個 list 的 memory addr. 而已，當我們在改變 a 或 b 時，就等同於在改變這個 list，這是因為 a 和 b 記錄的是memory addr. 而不是自己有一份copy

### If we want an independent list, we can use copy() to get a new list

In [4]:
a = [1,2,3]
b = a.copy()

In [5]:
b

[1, 2, 3]

In [6]:
b[0] = 100000000

In [7]:
a

[1, 2, 3]

In [8]:
b

[100000000, 2, 3]

### Other method provided

In [9]:
b_1 = list(a)

In [10]:
b_1

[1, 2, 3]

In [11]:
b_1[0] = 54
a

[1, 2, 3]

In [12]:
d = a[:]
d

[1, 2, 3]

# Tuples
Similar to lists, tuples are sequences of arbitrary items. Unlike lists, tuples are immutable, meaning you can’t add, delete, or change items after the tuple is defined. So, a tuple is similar to a constant list.

## Create a Tuple by Using ()

In [13]:
empty_tuple = ()

In [14]:
empty_tuple

()

In [17]:
one_tuple = 'abc',

In [18]:
one_tuple

('abc',)

### < Note > 
在每個元素之後必須加上一個 , (除了最後一個元素之外)

In [19]:
multi_tuple = 'a','b','c'

In [20]:
multi_tuple

('a', 'b', 'c')

In [21]:
multi_tuple = ('a','b','c')

In [22]:
multi_tuple

('a', 'b', 'c')

### < Note > 
可以用()括起來並不會影響，因為元素後面的 , 才是定義tuple的因子

### tuple可以一次指派給多個變數

In [42]:
marx_tuple = ('Groucho', 'Chico', 'Harpo')
a, b, c = marx_tuple

In [44]:
a

'Groucho'

In [25]:
b

'Chico'

In [26]:
c

'Harpo'

### < Note > 
This is sometimes called tuple unpacking.

### ※ You can use tuples to exchange values in one statement without using a temporary variable

In [49]:
a = 'a'
b = 'b'

In [50]:
a, b = b, a

In [51]:
b

'a'

## The tuple() conversion function makes tuples from other things

In [52]:
marx_list = ['Groucho', 'Chico', 'Harpo']
tuple(marx_list)

('Groucho', 'Chico', 'Harpo')

# Tuples versus Lists

You can often use tuples in place of lists, but they have many fewer functions—there is no append(),insert(), and so on—because they can’t be modified after creation. Why not just use lists instead of tuples everywhere?
1. Tuples use less space.
2. You can’t clobber(破壞) tuple items by mistake.
3. You can use tuples as dictionary keys (see the next section).
4. Named tuples (see Named Tuples) can be a simple alternative to objects.
5. Function arguments are passed as tuples (see Functions).

# Dictionaries
1. A dictionary is similar to a list, but the order of items doesn’t matter, and they aren’t selected by an offset such as 0 or 1. 
2. Instead, you specify a unique key to associate with each value. This key is often a string, but it can actually be any of Python’s immutable types: boolean, integer, float, tuple, string, and others that you’ll see in later chapters.
3. Dictionaries are mutable, so you can add, delete, and change their key-value elements.
4. In other languages, dictionaries might be called associative arrays, hashes, or hashmaps.

## Create with {}

In [53]:
empty_dict = {}
empty_dict

{}

In [54]:
bierce = { "day": "A period of twenty-four hours, mostly misspent",
          "positive": "Mistaken at the top of one's voice",
          "misfortune": "The kind of fortune that never misses",}

In [55]:
bierce

{'day': 'A period of twenty-four hours, mostly misspent',
 'misfortune': 'The kind of fortune that never misses',
 'positive': "Mistaken at the top of one's voice"}

In [58]:
bierce['day']

'A period of twenty-four hours, mostly misspent'

## Convert by Using dict()
You can use the dict() function to convert two-value sequences into a dictionary.

The first item in each sequence is used as the key and the second as the value.

In [59]:
lol = [ ['a', 'b'], ['c', 'd'], ['e', 'f'] ]

In [60]:
dict(lol)

{'a': 'b', 'c': 'd', 'e': 'f'}

### < Note >
1. Remember that the order of keys in a dictionary is arbitrary, and might differ depending on how you add items.
2. We could have used any sequence containing twoitem sequences, as the following.

A tuple of two-item lists:

In [63]:
tol = ( ['a', 'b'], ['c', 'd'], ['e', 'f'] )
type(tol)

tuple

In [62]:
dict(tol)

{'a': 'b', 'c': 'd', 'e': 'f'}

A list of two-character strings:

In [64]:
los = [ 'ab', 'cd', 'ef' ]
type(los)

list

In [65]:
dict(los)

{'a': 'b', 'c': 'd', 'e': 'f'}

A list of two-item tuples:

In [67]:
lot = [ ('a', 'b'), ('c', 'd'), ('e', 'f') ]
type(lot)

list

In [68]:
dict(lot)

{'a': 'b', 'c': 'd', 'e': 'f'}

### < Note>
The section Iterate Multiple Sequences with zip() introduces you to a function called zip() that makes it easy to create these two-item sequences.

## Add or Change an Item by [ key ]
1. Adding an item to a dictionary is easy. Just refer to the item by its key and assign a value. 
2. If the key was already present in the dictionary, the existing value is replaced by the new one.
3. If the key is new, it’s added to the dictionary with its value.

Unlike lists, you don’t need to worry about Python throwing an exception during assignment by specifying an index that’s out of range.(because 3.)

In [69]:
pythons = {'Chapman': 'Graham','Cleese': 'John','Idle': 'Eric','Jones': 'Terry','Palin': 'Michael'}

In [70]:
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'Eric',
 'Jones': 'Terry',
 'Palin': 'Michael'}

In [71]:
pythons['Gilliam'] = 'Gerry'

In [72]:
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Gilliam': 'Gerry',
 'Idle': 'Eric',
 'Jones': 'Terry',
 'Palin': 'Michael'}

In [73]:
pythons['Gilliam'] = 'Terry'

In [74]:
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Gilliam': 'Terry',
 'Idle': 'Eric',
 'Jones': 'Terry',
 'Palin': 'Michael'}

### < Note >:
Remember that dictionary keys must be unique.

如果我們多次使用同一個鍵，則最後一個值會是dict最新的值，如下:

In [75]:
some_pythons = {'Graham': 'Chapman','John': 'Cleese','Eric': 'Idle','Terry': 'Gilliam','Michael': 'Palin','Terry': 'Jones',}
some_pythons

{'Eric': 'Idle',
 'Graham': 'Chapman',
 'John': 'Cleese',
 'Michael': 'Palin',
 'Terry': 'Jones'}

## Combine Dictionaries with update()
You can use the update() function to copy the keys and values of one dictionary into another.

dict1.update(dict2)

In [76]:
pythons = {'Chapman': 'Graham','Cleese': 'John','Gilliam': 'Gerry','Idle': 'Eric','Jones': 'Terry','Palin': 'Michael'}

In [77]:
others = { 'Marx': 'Groucho', 'Howard': 'Moe' }

In [78]:
pythons.update(others)

In [79]:
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Gilliam': 'Gerry',
 'Howard': 'Moe',
 'Idle': 'Eric',
 'Jones': 'Terry',
 'Marx': 'Groucho',
 'Palin': 'Michael'}

### What happens if the second dictionary has the same key as the dictionary into which it’s being merged?
the second wins.

In [80]:
first = {'a': 1, 'b': 2}

In [81]:
second = {'b': 'platypus'}

In [82]:
first.update(second)

In [83]:
first

{'a': 1, 'b': 'platypus'}

## Delete an Item by Key with del

In [84]:
del pythons['Marx']
del pythons['Howard']
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Gilliam': 'Gerry',
 'Idle': 'Eric',
 'Jones': 'Terry',
 'Palin': 'Michael'}

## Delete All Items by Using clear()
To delete all keys and values from a dictionary, use clear() or just reassign an empty dictionary ({}) to the name:

In [86]:
pythons.clear()

In [87]:
pythons

{}

In [88]:
pythons = {}
pythons

{}

## Test for a Key by Using in

In [89]:
pythons = {'Chapman': 'Graham', 'Cleese': 'John','Jones': 'Terry', 'Palin': 'Michael'}

In [90]:
'Palin' in pythons

True

In [91]:
'abc' in pythons

False

## Get an Item by [ key ]

This is the most common use of a dictionary. You specify the dictionary and key to get the corresponding value:

In [92]:
pythons['Cleese']

'John'

### < Note> : 
If the key is not present in the dictionary, you’ll get an exception.There are two good ways to avoid this.

I. by using in

In [93]:
'Marx' in pythons

False

II. use the special dictionary get() function.

You provide the dictionary, key, and an optional value.

In [94]:
pythons.get('Cleese')

'John'

If not, you get the optional value, if you specified one:

In [95]:
pythons.get('Marx', 'Not a Python')

'Not a Python'

Otherwise, you get None (which displays nothing in
the interactive interpreter) :

In [96]:
pythons.get('Marx')

## Get All Keys by Using keys()

In [97]:
signals = {'green': 'go', 'yellow': 'go faster', 'red':'smile for the camera'}

In [98]:
signals.keys()

dict_keys(['green', 'yellow', 'red'])

### < Note >
In Python 2, keys() just returns a list. Python 3 returns dict_keys(), which is an iterable view of
the keys. This is handy with large dictionaries
because it doesn’t use the time and memory to
create and store a list that you might not use. 

But
often you actually do want a list. In Python 3, you
need to call list() to convert a dict_keys object to
a list.

As following,

In [99]:
list(signals.keys())

['green', 'yellow', 'red']

In Python 3, you also need to use the list()
function to turn the results of values() and items()
into normal Python lists.

## Get All Values by Using values()

In [102]:
list(signals.values())

['go', 'go faster', 'smile for the camera']

## Get All Key-Value Pairs by Using items()
Each key and value is returned as a tuple

In [104]:
list(signals.items())

[('green', 'go'), ('yellow', 'go faster'), ('red', 'smile for the camera')]

## Assign with = and Copy with copy()
just like List

In [106]:
signals = {'green': 'go', 'yellow': 'go faster', 'red':'smile for the camera'}

In [107]:
save_signals = signals

In [108]:
signals['blue'] = 'confuse everyone'

In [109]:
save_signals

{'blue': 'confuse everyone',
 'green': 'go',
 'red': 'smile for the camera',
 'yellow': 'go faster'}

### < Note >
To actually copy keys and values from a dictionary
to another dictionary and avoid this, you can use
copy():

In [110]:
signals = {'green': 'go', 'yellow': 'go faster', 'red':'smile for the camera'}

In [111]:
original_signals = signals.copy()

In [112]:
signals['blue'] = 'confuse everyone'

In [113]:
signals

{'blue': 'confuse everyone',
 'green': 'go',
 'red': 'smile for the camera',
 'yellow': 'go faster'}

In [114]:
original_signals

{'green': 'go', 'red': 'smile for the camera', 'yellow': 'go faster'}

# sets
1. A set is like a dictionary with its values thrown away, leaving only the keys.
2. As with a dictionary, each key must be unique.
3. You use a set when you only want to know that something exists, and nothing else about it. Use a dictionary if you want to attach some information to the key as a value.

## Create with set()
To create a set, you use the set() function or enclose one or more comma-separated values in { }

In [115]:
empty_set = set()

In [116]:
empty_set

set()

In [117]:
even_numbers = {0, 2, 4, 6, 8}
even_numbers

{0, 2, 4, 6, 8}

## < Note >
Because [ ] creates an empty list, you might expect { } to create an empty set. 

Instead, { } creates an empty dictionary. That’s also why the interpreter prints an empty set as set() instead of { }. Why?

Dictionaries were in Python first and took possession of the curly brackets.

## Convert from Other Data Types with set()
You can create a set from a list, string, tuple, or
dictionary, discarding any duplicate values.

In [120]:
# sting to set
set('letters')

{'e', 'l', 'r', 's', 't'}

In [121]:
# list to set
set(['Dasher', 'Dancer', 'Prancer', 'Mason-Dixon'])

{'Dancer', 'Dasher', 'Mason-Dixon', 'Prancer'}

In [122]:
# tuple to set
set(('Ummagumma', 'Echoes', 'Atom Heart Mother'))

{'Atom Heart Mother', 'Echoes', 'Ummagumma'}

In [123]:
# dict to set
set({'apple': 'red', 'orange': 'orange', 'cherry': 'red'})

{'apple', 'cherry', 'orange'}

### < Note >
When you give set() a dictionary, it uses only the
keys

## Test for Value by Using in

In [138]:
# give a dict
drinks = {'martini': {'vodka', 'vermouth'},'black russian': {'vodka', 'kahlua'},'white russian': {'cream', 'kahlua', 'vodka'},
          'manhattan': {'rye', 'vermouth', 'bitters'},'screwdriver': {'orange juice', 'vodka'}}
#dict = {'name':'contents'}

### < Note>
Even though both are enclosed by curly braces ({
and }), a set is just a sequence of values, and a
dictionary is one or more key : value pairs.

In [144]:
for name, contents in drinks.items():
    if 'vodka' in contents:
        print(name)

martini
black russian
white russian
screwdriver

In [133]:
for name, contents in drinks.items():
    if 'vodka' in contents and not ('vermouth' in contents or 'cream' in contents):
        print(name)

black russian
screwdriver

## Combinations and Operators
What if you want to check for combinations of set
values? Suppose that you want to find any drink that
has orange juice or vermouth? We’ll use the set
intersection operator, which is an ampersand (&):

In [146]:
for name, contents in drinks.items():
    if contents & {'vermouth','orange juice'}:
        print(name)

martini
manhattan
screwdriver

In [153]:
for name, contents in drinks.items():
    if 'vodka' in contents and not contents & {'vermouth','cream'}:
        print(name)

black russian
screwdriver

In [154]:
bruss = drinks['black russian']
wruss = drinks['white russian']

In [155]:
a = {1,2}
b = {2,3}

In [156]:
a&b

{2}

In [157]:
a.intersection(b)

{2}

In [158]:
bruss&wruss

{'kahlua', 'vodka'}

union

In [159]:
a | b

{1, 2, 3}

In [160]:
a.union(b)

{1, 2, 3}

difference

In [161]:
a - b

{1}

In [162]:
a.difference(b)

{1}

exclusive or

In [163]:
a^b

{1, 3}

In [164]:
a.symmetric_difference(b)

{1, 3}

is subset?

In [165]:
a <= b

False

In [166]:
a.issubset(b)

False

In [167]:
bruss <= wruss

True

In [168]:
a <= a

True

proper subset

In [169]:
a < b

False

In [170]:
a < a

False

In [171]:
bruss < wruss

True

superset (all members
of the second set are also members of the first).

In [174]:
a >= b

False

In [175]:
a >= a

True

In [176]:
wruss >= bruss

True

In [177]:
a.issuperset(a)

True

proper superset

In [178]:
a > b

False

In [179]:
wruss > bruss

True

In [180]:
a > a

False

# Compare Data Structures
To review: you make a list by using square brackets
([]), a tuple by using commas, and a dictionary by
using curly brackets ({}). 

In each case, you access a
single element with square brackets:

In [181]:
marx_list = ['Groucho', 'Chico', 'Harpo']
marx_tuple = ('Groucho', 'Chico', 'Harpo')
marx_dict = {'Groucho': 'banjo', 'Chico': 'piano','Harpo': 'harp'}

In [182]:
marx_list[2]

'Harpo'

In [183]:
marx_tuple[2]

'Harpo'

In [185]:
marx_dict['Harpo']

'harp'

# Make Bigger Data Structures
Let’s start
with three different lists:

In [186]:
marxes = ['Groucho', 'Chico', 'Harpo']
pythons = ['Chapman', 'Cleese', 'Gilliam', 'Jones','Palin']
stooges = ['Moe', 'Curly', 'Larry']

make a tuple that contains each list as an
element:

In [188]:
tuple_of_list = marxes,pythons,stooges

In [189]:
tuple_of_list

(['Groucho', 'Chico', 'Harpo'],
 ['Chapman', 'Cleese', 'Gilliam', 'Jones', 'Palin'],
 ['Moe', 'Curly', 'Larry'])

we can make a list that contains the three lists

In [190]:
list_of_list = [marxes,pythons,stooges]

In [191]:
list_of_list

[['Groucho', 'Chico', 'Harpo'],
 ['Chapman', 'Cleese', 'Gilliam', 'Jones', 'Palin'],
 ['Moe', 'Curly', 'Larry']]

let’s create a dictionary of lists

In [192]:
dict_of_lists = {'Marxes': marxes, 'Pythons': pythons,'Stooges': stooges}

In [193]:
dict_of_lists

{'Marxes': ['Groucho', 'Chico', 'Harpo'],
 'Pythons': ['Chapman', 'Cleese', 'Gilliam', 'Jones', 'Palin'],
 'Stooges': ['Moe', 'Curly', 'Larry']}

### < Note >
Dictionary keys need to be
immutable, so a list, dictionary, or set can’t be a key
for another dictionary. But a tuple can be.

In [194]:
houses = {(44.79, -93.14, 285): 'My House',
(38.89, -77.03, 13): 'The White House'
}

In [195]:
houses

{(38.89, -77.03, 13): 'The White House', (44.79, -93.14, 285): 'My House'}

# 習題

3.1

In [198]:
years_list = []
for i in range(6):
    years_list.append(1995+i)
years_list

[1995, 1996, 1997, 1998, 1999, 2000]

3.2

In [347]:
years_list[3]

1998

3.3

In [200]:
years_list[-1]

2000

3.4

In [202]:
things = ['mozzarella', "cin derella", "salmonella"]
things

['mozzarella', 'cin derella', 'salmonella']

3.5

In [211]:
g = []
for i in range(3):
    g.append(things[i].capitalize())
print(g,',NO')

['Mozzarella', 'Cin derella', 'Salmonella'] ,NO

3.7

In [216]:
things.pop(-1)
things.append('Nobel Prize')
things

['mozzarella', 'cin derella', 'Nobel Prize']

3.8

In [230]:
surprise = ["Groucho", "Chico", "Harpo"]
surprise

['Groucho', 'Chico', 'Harpo']

3.9

In [231]:
surprise[-1] = surprise[-1].lower()
surprise

['Groucho', 'Chico', 'harpo']

In [233]:
surprise = surprise[::-1]

In [234]:
surprise

['harpo', 'Chico', 'Groucho']

In [235]:
surprise[0] = surprise[0].capitalize()
surprise

['Harpo', 'Chico', 'Groucho']

3.10

In [236]:
e2f = {'dog':'chien','cat':'chat','walrus':'morse'}
e2f

{'cat': 'chat', 'dog': 'chien', 'walrus': 'morse'}

3.11

In [238]:
e2f['walrus']

'morse'

3.12

In [255]:
f2e = []
a = tuple(e2f.items())
for i  in range(3):
        b = a[i][0]
        c = a[i][1]
        b ,c = c , b
        f2e.append([b,c])
f2e = dict(f2e)
f2e

{'chat': 'cat', 'chien': 'dog', 'morse': 'walrus'}

3.13

In [257]:
f2e['chien']

'dog'

3.14

In [260]:
set(e2f.keys())

{'cat', 'dog', 'walrus'}

3.15

In [339]:
g = []
list_1 = ['animals','plants','other']
list_2 = ['cats',{'octopi':{}},{'emus':{}}]
slist = ['Henri','Grumpy','Lucy']

In [340]:
list_2[0] = {list_2[0]:slist}

In [341]:
for i in range(len(list_1)):
    a = list_1[i]
    b = list_2[i]
    g.append([a,b])
g

[['animals', {'cats': ['Henri', 'Grumpy', 'Lucy']}],
 ['plants', {'octopi': {}}],
 ['other', {'emus': {}}]]

In [342]:
life = dict(g)

In [343]:
life

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy']},
 'other': {'emus': {}},
 'plants': {'octopi': {}}}

3.16

In [344]:
life.keys()

dict_keys(['animals', 'plants', 'other'])

3.17

In [346]:
life['animals']['cats']

['Henri', 'Grumpy', 'Lucy']

3.12 另解

In [350]:
f2e = {}
for E, F in e2f.items():
    f2e[F] = E
f2e

{'chat': 'cat', 'chien': 'dog', 'morse': 'walrus'}